doctype html
script(src='https://aframe.io/releases/1.0.3/aframe.min.js')
script(src='https://raw.githack.com/jeromeetienne/AR.js/2.1.4/aframe/build/aframe-ar.js')
// <script src="https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js"> </script>
script(src='//cdn.rawgit.com/donmccurdy/aframe-extras/v6.0.0/dist/aframe-extras.min.js')
a-scene#scene(embedded='' stats='' renderer='logarithmicDepthBuffer: true;' arjs='trackingMethod: best; sourceType: webcam;debugUIEnabled: false;' vr-mode-ui='enabled: false')
  a-assets
    a-asset-item#object_id(src=src)
  a-marker(preset='custom', type='pattern', url=url)
    a-gltf-model(src='#object_id')
  a-entity(camera='')
